<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>DataXfer@CEL - Data Source</title>
<meta name="description" content="" />
<meta name="author" content="Enix" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
<link rel="stylesheet" href="assets/css/bootstrap.css" />
<link rel="stylesheet" href="assets/css/bootstrap-datetimepicker.min.css" />    
<link rel="stylesheet" href="assets/css/main.css" />    
<script  src="assets/js/jquery-1.9.1.min.js" ></script>
<script  src="assets/js/bootstrap.js" ></script>
<script  src="assets/js/moment.min.js" ></script>
<script  src="assets/js/bootstrap-datetimepicker.min.js" ></script>  
<style type="text/css">	
	.collapse-header > .panel-collapse > .panel-body >.nav-pills > li.active > a,
	.collapse-header > .panel-collapse > .panel-body > .nav-pills > li.active > a:hover,
	.collapse-header > .panel-collapse > .panel-body > .nav-pills > li.active > a:focus {
	  color: #666;
	  background-color:#faebcc;
	}
	
	.collapse-header > .panel-heading > a,
	.collapse-header > .panel-heading > a:hover,
	.collapse-header > .panel-heading > a:focus{
		color: #c09853;
		text-decoration: none;
	}
</style>

<script type="text/javascript">
	$(function(){
		
		//edit click
		$("#btn-edit").click(function(){
			$(".item-chkbox").each(function(idx, elem){
				if(elem.checked){					
					location.href = "datasource/edit?id=" + $(elem).val();
				}
			});			
		});
		
		//delete click
		$("#btn-delete").click(function(){
			if(!confirm("Confirm to delete the selected entries?")){
				return;
			}
			var ids = new Array();
			$(".item-chkbox").each(function(idx, elem){
				if(elem.checked){
					ids.push($(elem).val());
				}
			});
			if(ids.length == 0){
				alert("请先勾选要删除的记录.");
				return;
			}
			location.href = "datasource/delete?ids=" + ids.join(",");
		});
		
		//select all
		$("#select-all").change(function(){
			$(".item-chkbox").each(function(idx, elem){
				elem.checked = $("#select-all")[0].checked;			
			});
		});
	});
</script>
</head>
<body>
#parse("views/layout/header.html")

<div class="container">	

	#if($msg)
	<div class="row">
		<div class="col-md-12">
			<div class="alert alert-danger alert-dismissable">
			  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			  $msg
			</div>
		</div>
	</div>
	#end
		
	<div class="row">		
		<!-- Content -->
		<div class="col-md-12">

				<!-- Entry table -->
				<div class="panel panel-info">
				<div class="panel-heading">
					<span class="glyphicon glyphicon-list-alt"></span> 配置Data Source
					<div class="pull-right">
						<a class="btn btn-xs" href="datasource/add"> <span class="glyphicon glyphicon-plus"></span> 添加</a>						
						<a id="btn-edit" class="btn btn-xs" href="#"> <span class="glyphicon glyphicon-pencil"></span> 编辑</a>
						<a id="btn-delete" class="btn btn-xs" href="#"> <span class="glyphicon glyphicon-minus"></span> 删除</a>
					</div>					
				</div>
				<table class="table table-bordered table-condensed table-sm" style="overflow: scroll;">
					<tbody>
						<tr>
							<td><input id="select-all" type="checkbox" /></td>
							<td>Data Source Name</td>
							<td>JDBC Driver</td>													
							<td>JDBC URL</td>
							<td>User name</td>
							<td>Password</td>
						</tr>	
					#foreach($item in $entries)
						<tr>
							<td><input type="checkbox" class="item-chkbox" value="$!{item.id}" /></td>
							<td><a href="datasource/view?id=$!{item.id}">$!{item.dsname}</a></td>
							<td>$!{item.driver}</td>
							<td>$!{item.url}</td>
							<td>$!{item.username}</td>
							<td>***</td>							
						</tr>
					#end					
					</tbody>
					<tfoot>
						<tr>
							<td colspan="6">
							<ul class="pagination">		
								<!-- First page -->
								<li class="#if($page == 1) disabled #end"><a href="datasource?p=1">
									<span class="glyphicon glyphicon-fast-backward"></span> </a>
								</li>
										
								<!-- prev page -->				
								<li class="#if($page == 1) disabled #end"><a href="datasource?p=$!{prev_page}">
									<span class="glyphicon glyphicon-backward"></span> </a>
								</li>				
								
								<!-- Next page -->				
								<li class="#if($page >= $total_pages) disabled #end"><a href="datasource?p=$!{next_page}">
									<span class="glyphicon glyphicon-forward"></span> </a>
								</li>
								
								<!-- Last page -->
								<li class="#if($page >= $total_pages) disabled #end"><a href="datasource?p=$!{total_pages}">
									<span class="glyphicon glyphicon-fast-forward"></span> </a>
								</li>
							</ul>
							</td>
						</tr>
					</tfoot>
				</table>
				</div>
		</div>
	</div>
</div>
</body>
</html>